<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<title>Bible Verse Word Count</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"/>
</h:head> 
<body>
<ui:composition template="/layouts/commonLayout.xhtml">
		<ui:define name="content">
			<p>Hello, #{user.firstName}</p>
			<h:commandButton value="Submit" action="#{formController.onSendOrder()}"/>
			
			<h:dataTable value="#{formController.service.orders}" var="o"
		styleClass="data-table"
		headerClass="data-table-header"
		rowClasses="data-table-odd-row, data-table-even-row">
		
			<h:column>
				<f:facet name="header">Order Number</f:facet>
				#{o.getOrderNumber()}
			</h:column>
			
			<h:column>
				<f:facet name="header">Product Name</f:facet>
				#{o.getProductName()}
			</h:column>
			<h:column>
				<f:facet name="header">Product Price</f:facet>
				#{o.getPrice()}
			</h:column>
			<h:column>
				<f:facet name="header">Quantity</f:facet>
				#{o.getQuantity()}
			</h:column>
			</h:dataTable><br/>
			<h:commandButton value="Logout" action="#{formController.onLogoff()}"/>
		</ui:define>
</ui:composition>
</body> 
</html>
