#footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 200px;
}

.dat-table{   
	border-collapse:collapse;
}

.data-table-header{
	padding:16px;
	text-align:center;
	border-bottom:5px solid #6E5773;
	background:none repeat scroll 0 0 #75DAAD;
}

.user-table-odd-row{
	text-align:center;
	background:none repeat scroll 0 0 #AD62AA;
	border-top:5px solid #6E5773;
}

.data-table-even-row{
	text-align:center;
	background:none repeat scroll 0 0 #413C69;
	border-top:5px solid #6E5773;
}
